<footer>
  <div class="marginnnn">
    <div style="float:right;">
      <span><a class="default_color" href="#">Contact</a></span>
      <span><a class="defaultcolormargin" href="#">Paramètres</a></span>
    </div>
  </div>
</footer>