<nav class= "navbar">
  <div class="nav-links-left">
    <%= image_tag "chatrum_logo.png", class: "nav-img" %>
    <ul>
      <li class="nav-li"><a href="#">Home</a></li>
      <li class="nav-li"><a href="/card/">Card</a></li>
    </ul>
  </div>
  <div class="nav-links-right">
    <button type="button" class="button button-sign">Sign Up</button>
    <button type="button" class="button button-sign">Sign In</button>
  </div>
</nav>
