<nav>
  <div class="nav-sitename">
    Sitename
  </div>
  <div class="nav-links">
    <a href="#">Home</a>
    <a href="#">Card</a>
  </div>
  <div class="nav-login">
    <button type="button" name="button">Sign Up</button>
    <button type="button" name="button">Sign In</button>
  </div>
</nav>
