<nav class= "navbar">
  <div class="nav-links-left">
    <%= image_tag "chatrum_logo.png", class: "nav-img" %>
    <ul>
      <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
      <li class="nav-item"><a href="/card/" class="nav-link">Card</a></li>
    </ul>
  </div>
  <div class="nav-links-right">
    <button type="button" class="button-sign">Sign Up</button>
    <button type="button" class="button-sign">Sign In</button>
  </div>
</nav>
