<nav class= "navbar">
  <div class="nav-links-left">
    <%= image_tag "chatrum_logo.png", class: "nav-img" %>
    <ul>
      <li class="nav-li"><a href="#">Home</a></li>
      <li class="nav-li"><a href="#">Card</a></li>
    </ul>
  </div>
  <div class="nav-links-right">
    <button type="button" class="button button-red">Sign Up</button>
    <button type="button" class="nav-button">Sign In</button>
  </div>
</nav>
