<div class="flex-cont">
<div class="tabs">

  <div class="tab">
    <input type="radio" id="tab-2" name="tab-group-1">
    <label for="tab-2">THP <i>&#9660;</i></label>
    <div class="tab" id="close-tab">
      <input type="radio" id="tab-close" name="tab-group-1">
      <label for="tab-close"><i>&#9650;</i></label>
    </div>

    <div class="content">
      THP est une formation qui, en 3 mois, à plein temps, vous apportera des connaissances actionnables pour vous permettre de voir plus loin.
    </div>
  </div>

  <div class="tab">
    <input type="radio" id="tab-1" name="tab-group-1">
    <label for="tab-1">Lien <i>&#9660;</i></label>
    <div class="tab" id="close-tab">
      <input type="radio" id="tab-close" name="tab-group-1">
      <label for="tab-close"><i>&#9650;</i></label>
    </div>

    <div class="content">
      <a href="https://www.thehackingproject.org/"><%= image_tag "https://i2.wp.com/laboate.com/next3/wp-content/uploads/2018/05/hacking-project.png?fit=240%2C239", class: "card-avatar" %></a>
    </div>
  </div>

</div>

</div>