<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>My page title</title>
  </head>
  <body>

    <nav>
      <div class="nav-sitename"></div>
      
      <div class="nav-avatar">
        <div class="avatar-name"></div>
        <img src="" alt="" class="avatar-pic">
      </div>
    </nav>


    <div class="content">
        <h1 class="title"></h1>
        <div class="text-left"></div>
        <div class="img-right"></div>
    </div>  
    <div  ng-app="main" ng-controller="mainCntr">   
    <div class="carrousel">
    <div class="card" card delay="{{$index}}" ng-repeat="item in [1,2,3,4,5,6,7,8]"><%= image_tag("gerardo-marrufo-1146971-unsplash.jpg") %><%= image_tag("joshua-chun-1146504-unsplash.jpg")%> <%=image_tag ("adult-blur-close-up-1579001.jpg") %></div>
    </div>
  
</div> 
    <footer>
    </footer>
  </body>
</html>
