#searchbar {
   position: absolute;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   margin-top: 80px;
}

.formulaire .champ {
  width: 800px;
  height: 35px;
  border-radius: 12px;
  height: 35px;
  background-color:#DBDBDB!important;
}

.formulaire .bouton {
  background-color: #DBDBDB!important;
  font-family: Verdana,sans-serif;
  color: #232526!important;
  background-repeat: no-repea;
  width: 50px;
  height: 40px;
  padding: 0;
  border-radius: 12px;
}

.button {
  background: rgb(190,160,107);
  background: linear-gradient(0deg, rgba(190,160,107,1) 8%, rgba(251,225,178,1) 52%, rgba(190,160,107,1) 88%);
  color: #382A26;
  background-repeat: no-repeat;
  width: 160px;
  height: 40px;
  font-size: 1em;
  padding: 0;
  border-radius: 12px;
}
