#searchbar {
   position: absolute;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   margin-top: 50px;
}

.formulaire .champ {
  width: 800px;
  height: 35px;
  border-radius: 12px;
  height: 35px;
  background-color:#DBDBDB!important;
}

.formulaire .bouton {
  background-color: #DBDBDB!important;
  font-family: Verdana,sans-serif;
  color: #232526!important;
  background-repeat: no-repea;
  width: 50px;
  height: 40px;
  padding: 0;
  border-radius: 12px;
}

.button {
  background-color: #DBDBDB;
  font-family: Verdana,sans-serif;
  color: blue;
  background-repeat: no-repeat;
  width: 60px;
  height: 40px;
  padding: 0;
  border-radius: 12px;
}
