footer{
  background-color: #DBDBDB;
  flex: 0 0 auto; /* Le footer peut prendre l'espace qu'il veut */
  line-height: 30px; /* taille */
  position: absolute; /* position viens avec bottom et width pour que le footer reste à la fin */
  bottom: 0;
  width: 10%;
}
footer span
{
  margin-left: 30px;

}

.default_color
{
  text-decoration:none;
  color: rgba(0,0,0,.54);
  margin-right: 30px;
}