.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(38,27,22, 0.8);
}

.nav-img {
  height: 50px;
  width: 246px;
  margin-right: 20px;
}

.nav-links-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  text-decoration: none;
}

.nav-item {
  display: inline;
  margin-right: 10px;
  font-size: 2em;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: #F3EEC3
}

.nav-link:hover {
  color: #F7E3AF;
}

.button-sign {
  color: #B47978;
  background-color: #DBDBDB;
  font-weight: 400;
  text-align: center;
  font-size: 1.5em;
  height: 30px;
  width: 100px;
  border-radius: .5rem;
}

.button-sign:hover {
  background-color: #95BF8F;
}
.nav-links-right {
  align-items: baseline;
  justify-content: right;
}
